<nav class="navbar bg-dark border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Encontre sua coleção</a>
    <div class="d-flex">
      <input type="text" id="name" [formControl]="queryField" placeholder="Nome" class="form-control me-2">
  
      <select id="block" [formControl]="blockField" class="form-control me-2">
        <option value="" selected disabled>Selecione um bloco</option>
        <option value="Amonkhet">Amonkhet</option>
        <option value="Ixalan">Ixalan</option>
        <option value="Zendikar">Zendikar</option>
        <option value="Ravnica">Ravnica</option>
        <option value="Onslaught">Onslaught</option>
        <option value="Core Set">Core Set</option>
        <option value="Ice Age">Ice Age</option>
      </select>
  
      <button (click)="onSearch()" class="btn btn-outline-success">Buscar</button>
    </div>
    <div class="container container-alert">
      <div *ngIf="blockField.invalid && blockField.touched" class="alert alert-info" role="alert">
        Por favor, selecione um bloco.
      </div>
    </div>
  </div>
</nav>

<div class="container mt-6 info-container" *ngIf="showInfo">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Bem vindo!</h4>
    <p>Magic: The Gathering é um jogo de cartas colecionáveis onde os jogadores assumem o papel de poderosos magos, conhecidos como planeswalkers. Utilizando baralhos personalizados, eles conjuram criaturas, lançam feitiços e utilizam artefatos para derrotar seus oponentes.</p>
    <p>O objetivo é reduzir os pontos de vida do adversário a zero, usando estratégia e habilidade para dominar o campo de batalha.</p>
    <p>Esta aplicação permite aos usuários pesquisarem coleções de cartas de Magic: The Gathering, através de seus nomes e/ou bloco. Após a pesquisa, você pode selecionar uma coleção, iniciando um fluxo de requisição para obter 15 cartas aleatórias dessa coleção. Este processo é repetido até que sejam obtidas 30 cartas do tipo criatura. </p>
    <hr>
    <p class="mb-0">A API apresentou quebras recentes, reduzindo consideravelmente  o número de resultados de pesquisas dentro desta aplicação.</p>
    <p class="mb-0">Para testá-la, escolha o bloco Ice Age, que é o único que ainda possui resultados de requisição! <i>(na última vez que testei)</i></p>
  </div>
</div>

<div class="container mt-4" *ngIf="showResults">
  <div class="row" *ngIf="results$ | async as results">
    <div class="col-md-4" *ngFor="let result of results" (click)="onSelectSet(result.code)">
      <div class="card mb-4 custom-card-background">
        <div class="card-body card-2">
          <h5>{{ result.name }}</h5>
          <h6>{{ result.block }}</h6>
          <p>{{ result.releaseDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-booster-display *ngIf="!showResults" [boosterCards]="boosterCards" ></app-booster-display>




