/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

body {
  background-color: #121214;
  color: #00875f;

  font-family: "Lato", sans-serif;
  font-weight: 400;
}
